<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% block title %}<title>Local Library</title>{% endblock %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  <div class="navbar">
    {% block navbar %}
      <ul>
        <li>Local Library</li>
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="">All books</a></li>
        <li><a href="">All authors</a></li>
      </ul>
    {% endblock %}
  </div>

  <div class="content">
    {% block content %}{% endblock %}
  </div>
</body>
</html>